<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>

	<nav th:replace="fragments/nav" />

	<div class="container" style="text-align: center">
		<h2 th:text="#{welcome.message}"></h2>
		<h3 th:text="#{welcome.secondTitle}"></h3>
		<p th:text="#{welcome.user}">
			Usuario Autenticado como : <span sec:authentication="principal.name"
				th:inline="text" />
		</p>
		<div class="table-responsive">
			<h2 th:text="#{marks.list.title}">Notas del usuario</h2>
			<table class="table table-hover" th:replace="fragments/marks"
				id="tableMarks">
			</table>
		</div>
	</div>
	<footer th:replace="fragments/footer" /></body>
</html>
