<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head"/>
<body>

<!-- Barra de Navegación superior -->
<nav th:replace="fragments/nav"/> 

<div class="container">
  <h2 th:text="#{mark.details}"></h2>      
  <div class="panel panel-default">
	  <div th:text="#{users.dni}" class="panel-heading">DNI</div>
	  <div class="panel-body" th:text="${mark.user.dni}" >
		28276
	  </div>
  </div>                                                                      
  <div class="panel panel-default">
	  <div th:text="#{marks.list.description}" class="panel-heading">Descripción</div>
	  <div class="panel-body" th:text="${mark.description}" >
		Ejemplo Ejer 1
	  </div>
  </div>
  <div class="panel panel-default">
	  <div th:text="#{marks.list.score}" class="panel-heading">Puntuación</div>
	  <div class="panel-body" th:text="${mark.score}">
		100
	  </div>
  </div>
</div>

<footer th:replace="fragments/footer"/>
</body>
</html>
